.consultorio-container {
  font-family: 'Arial', sans-serif;
  background-color: #f4f7fa;
  padding: 20px;
  min-height: 100vh;
}

.consultorio-content {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin-top: 20px;
}

h3 {
  color: #333;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

p {
  font-size: 24px;
  font-weight: 700;
  color: #333;
}

.stats {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 30px;
}

.stat-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex: 1;
  transition: transform 0.3s;
}

.stat-card:hover {
  transform: translateY(-5px);
}

.stat-card h3 {
  color: #4c5b61;
  font-size: 18px;
}

.stat-card p {
  color: #1d3557;
}

.agenda,
.lembretes {
  margin-bottom: 30px;
}

.agenda-list {
  margin-top: 10px;
}

.agenda-item {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  background-color: #e3f2fd;
  border-radius: 8px;
  margin-bottom: 10px;
}

.agenda-time {
  font-weight: 600;
  color: #0d47a1;
}

.agenda-paciente {
  color: #0d47a1;
}

.lembretes ul {
  list-style-type: none;
  padding: 0;
}

.lembretes li {
  background-color: #fff;
  border-left: 5px solid #4BC0C0;
  padding: 10px 20px;
  margin: 5px 0;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.charts {
  margin-top: 30px;
}

.charts h3 {
  font-size: 22px;
  color: #4c5b61;
  margin-bottom: 20px;
}

/* Customizing Chart.js container */
.chart-container {
  max-width: 50%;
  max-width: 600px;
  margin: 0 auto;
  height: 300px;
}
.chart-container canvas {
  width: 100% !important;
  height: 100% !important;
}

.chart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.chart-toggle {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.toggle-button {
  background-color: #f9f9f9;
  color: #333;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
  font-weight: 600;
}

.toggle-button:not(:last-child) {
  border-right: 1px solid #ddd;
}

.toggle-button.active {
  background-color: #4BC0C0;
  color: #fff;
}

.toggle-button:hover {
  background-color: #e0f7f7;
}